<div class="container">
    <h1 _ngcontent-hcw-c17="" class="titulo_juegos mt-5">LANZAMIENTOS MÁS POPULARES DE CONSOLAS</h1>
    <p _ngcontent-hcw-c17="" class="parrafo_juegos"><b _ngcontent-hcw-c17="">Lanzamientos mas populares</b> en los ultimos años para todas las plataformas</p>
    <div class="row">
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/9-HCHKrvw_E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/6PdzZHYc4Tg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/cyAdwR_4Qb0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/LPkhWoYYkCA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/q4rzkzjAKt4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/QaFKukn0a6g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/z2XS_RryJGk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/AUPBeIv6UKg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/s1NENhRDb6c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/7_OFd6YiVd8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/lQoEB4iNXkY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/PdzN7HSVw8E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/XobkF9AcIJc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/eYNjs6l3q_A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mt-4">
            <iframe class="iframe_video_juego" src="https://www.youtube.com/embed/hzTrblhfrn8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>